Repository Lukee828/forex-cfd-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-local, ruff-local, eof-fixer-local, trailing-ws-local

Path conditions:
  black-local: any of: \.py$, but not: ^(src/data/|build/|data/|updates_zip/|site/|docs/|\.ruff_cache/|\.precommit_cache/)
  ruff-local: any of: ^(src/|tests/) and \.py$ and not (^(src/data/|build/|data/|updates_zip/|site/|docs/|\.ruff_cache/|\.precommit_cache/))
  eof-fixer-local: any file but: (?x)^(
  updates_zip/|
  data/|
  build/|
  \.precommit_cache/|
  \.ruff_cache/|
  site/|
  docs/|
  ai_lab/audit_report\.md$|
  .*\.parquet$|
  .*\.duckdb$|
  .*\.zip$|
  .*\.gz$|
  .*\.exe$|
  .*\.png$|
  .*\.pdf$
)
  trailing-ws-local: any file but: (?x)^(
  updates_zip/|
  data/|
  build/|
  \.precommit_cache/|
  \.ruff_cache/|
  site/|
  docs/|
  ai_lab/audit_report\.md$|
  .*\.parquet$|
  .*\.duckdb$|
  .*\.zip$|
  .*\.gz$|
  .*\.exe$|
  .*\.png$|
  .*\.pdf$
)

tools: add robust Alloc-QA (local export/report + CI dispatch/artifact)
  tools/Alloc-QA.ps1
Due: eof-fixer-local, trailing-ws-local

tools: Alloc-QA run CLI via file path (fix PYTHONPATH import issues); create package stubs if missing
  tools/Alloc-QA.ps1
Due: eof-fixer-local, trailing-ws-local

docs: add Meta Allocator PS7 quickstart (README snippet) + tools addendum
  docs/META_ALLOCATOR.md
  docs/README_SNIPPET_META_ALLOCATOR.md
Due: none

ci: fix EOF on meta-alloc-nightly.yml (post hook)
  .github/workflows/meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

ci: add meta-alloc-nightly (safe single-quoted heredoc; cache; artifact)
  .github/workflows/meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

ci: simplify meta-alloc-nightly (safe quoting, no cache, bash steps)
  .github/workflows/meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

ci: make nightly robust (ensure package init; run cli via runpy with argv)
  .github/workflows/meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

ci: nightly -> runpy on file path; remove JSON printf/heredoc; rely on CLI metrics fallback
  .github/workflows/meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

ci: fix meta-alloc-nightly — add workflow_dispatch; runpy file path; artifact upload
  .github/workflows/meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

ci: sanitize nightly YAML (strip BOM/NBSP, no tabs, LF endings)
  .github/workflows/meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

ci: post-hook fix (EOF/trailing)
  .github/workflows/meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

ci: normalize EOF/trailing (post-hook)
  .github/workflows/meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

ci: post-hook normalize z-meta + meta nightly (EOF/LF/trailing)
  .github/workflows/z-meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

ci(z-meta-alloc-nightly): install minimal deps (NumPy or ci-requirements)
  .github/workflows/z-meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

ci(z-meta-alloc-nightly): force minimal runtime deps (numpy/pandas/pyyaml) to avoid pytest pin conflicts
  .github/workflows/z-meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

ci(z-meta-alloc-nightly): manual clean YAML, ready to dispatch
  .github/workflows/z-meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

pre-commit: apply Black/Ruff/EOF auto-fixes
  .github/ci-requirements.txt
  .github/workflows/meta-alloc-nightly.yml
  .github/workflows/z-meta-alloc-nightly.yml
  alpha_factory/meta_allocator.py
  tests/alpha_factory/test_meta_alloc_cli.py
  tools/Alloc-Report.ps1
  tools/_demo_prev.json
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

meta_allocator: add prev_weights smoothing + correlation penalty; keep backward compat
  src/alpha_factory/meta_allocator.py
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

pre-commit: apply auto-fixes
  src/alpha_factory/alloc_io.py
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

pre-commit: apply auto-fixes
  src/alpha_factory/cli_targets.py
  src/alpha_factory/portfolio.py
  tests/alpha_factory/test_alloc_io.py
  tests/alpha_factory/test_alloc_portfolio_integration.py
  tests/alpha_factory/test_portfolio.py
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

ci(nightly): emit & upload targets after allocator
  .github/workflows/z-meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

ci(nightly): enable workflow_dispatch trigger
  .github/workflows/z-meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

ci(nightly): fix Install minimal deps step (clean run block)
  .github/workflows/z-meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

ci(nightly): fix nightly workflow (deps block / artifacts)
  .github/workflows/z-meta-alloc-nightly.yml
Due: eof-fixer-local, trailing-ws-local

fix(scheduler): remove duplicate job_meta_allocator() (Ruff F811)
  .github/workflows/research-scheduler.yml
  src/alpha_factory/cli_scheduler.py
  src/alpha_factory/scheduler.py
  tests/alpha_factory/test_scheduler.py
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

docs: normalize EOF + note allocator & scheduler workflows
  README.md
Due: eof-fixer-local, trailing-ws-local

alpha_factory: add Drift Dashboard (v1.0.5) + nightly upload
  .github/workflows/research-scheduler.yml
  src/alpha_factory/cli_drift.py
  src/alpha_factory/drift.py
  tests/alpha_factory/test_drift.py
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

ci(scheduler): finalize nightly-* artifacts + matplotlib + drift export
  .github/workflows/research-scheduler.yml
Due: eof-fixer-local, trailing-ws-local

phase6(conformal): ConformalGate selective trade filter + nightly PS7 calibration script; drift stack lint; state.json -> Phase 6 ConformalGate init
  ai_lab/state.json
  alpha_factory/meta_allocator.py
  src/alpha_factory/cli_drift.py
  src/alpha_factory/conformal_gate.py
  src/alpha_factory/drift.py
  tests/alpha_factory/test_conformal_gate.py
  tests/alpha_factory/test_drift.py
  tools/Conformal-Calibrate.ps1
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

phase6(conformal): ConformalGate selective trade filter + nightly PS7 calibration script; drift stack lint; state.json -> Phase 6 ConformalGate init (#151)
  ai_lab/state.json
  alpha_factory/meta_allocator.py
  src/alpha_factory/cli_drift.py
  src/alpha_factory/conformal_gate.py
  src/alpha_factory/drift.py
  tests/alpha_factory/test_conformal_gate.py
  tests/alpha_factory/test_drift.py
  tools/Conformal-Calibrate.ps1
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

phase7(regime): add RegimeHazard throttle + nightly Regime-Calibrate job; state.json → Phase 7 Regime Hazard init
  ai_lab/state.json
  src/alpha_factory/regime_hazard.py
  tests/alpha_factory/test_regime_hazard.py
  tools/Regime-Calibrate.ps1
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

phase7(regime): add RegimeHazard throttle + nightly Regime-Calibrate job; state.json → Phase 7 Regime Hazard init (#152)
  ai_lab/state.json
  src/alpha_factory/regime_hazard.py
  tests/alpha_factory/test_regime_hazard.py
  tools/Regime-Calibrate.ps1
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

phase8(alloc): add AllocationDecider (ConformalGate + RegimeHazard + risk cap) and pytest smoke; state.json → Phase 8 Allocator Integration init
  ai_lab/state.json
  src/alpha_factory/alloc_decider.py
  tests/alpha_factory/test_alloc_decider.py
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

phase8(alloc): add AllocationDecider (ConformalGate + RegimeHazard + risk cap) and pytest smoke; state.json → Phase 8 Allocator Integration init
  ai_lab/state.json
Due: eof-fixer-local, trailing-ws-local

phase8(alloc): AllocationDecider integrates ConformalGate, RegimeHazard, and Risk Governor cap (#153)
  ai_lab/state.json
  src/alpha_factory/alloc_decider.py
  tests/alpha_factory/test_alloc_decider.py
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

phase9(cost): add CostModel + Cost-Calibrate PS7; integrate cost multiplier & execution block into AllocationDecider; state.json → Phase 9 Cost Model init
  ai_lab/state.json
  src/alpha_factory/alloc_decider.py
  src/alpha_factory/cost_model.py
  tests/alpha_factory/test_cost_model.py
  tools/Cost-Calibrate.ps1
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

phase9(cost): stub CostModel in allocator smoke; finalize allocator cost throttle + state.json Phase 9 Cost Model init
  ai_lab/state.json
  src/alpha_factory/alloc_decider.py
  tests/alpha_factory/test_alloc_decider.py
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

phase9(cost): CostModel + Cost-Calibrate + allocator cost throttle (#154)
  ai_lab/state.json
  src/alpha_factory/alloc_decider.py
  src/alpha_factory/cost_model.py
  tests/alpha_factory/test_alloc_decider.py
  tests/alpha_factory/test_cost_model.py
  tools/Cost-Calibrate.ps1
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

phase10(ev-exit): add EVExitPlanner + EV-Calibrate nightly + ExecutionPlanner w/ TradePlan; state.json → Phase 10 EV Exit init
  ai_lab/state.json
  src/alpha_factory/ev_exit.py
  src/alpha_factory/execution_planner.py
  tests/alpha_factory/test_ev_exit.py
  tests/alpha_factory/test_execution_planner.py
  tools/EV-Calibrate.ps1
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local

phase10(ev-exit): add EVExitPlanner + EV-Calibrate nightly + ExecutionPlanner w/ TradePlan; state.json → Phase 10 EV Exit init (#155)
  ai_lab/state.json
  src/alpha_factory/ev_exit.py
  src/alpha_factory/execution_planner.py
  tests/alpha_factory/test_ev_exit.py
  tests/alpha_factory/test_execution_planner.py
  tools/EV-Calibrate.ps1
Due: black-local, ruff-local, eof-fixer-local, trailing-ws-local
